<script>
    let statusCliente = "@ViewBag.StatusCliente";

    function chamadaAjax() {
        let btnSubmit = document.getElementById("btnSubmit");
        $.ajax({
            url: '@Url.Action("Incluir", "Beneficiario")',
            type: "POST",
            data: { model: encapsularDadosTabela() },
            success: function (data) {
                if (data == "Sucesso") {
                    btnSubmit.click();
                }
            },
            error: function (data) {
                ModalDialog("Erro", data.responseJSON);
            }
        });
    }
    function ModalDialog(titulo, texto) {
        var random = Math.random().toString().replace('.', '');
        var texto = '<div id="' + random + '" class="modal fade">                                                               ' +
            '        <div class="modal-dialog">                                                                                 ' +
            '            <div class="modal-content">                                                                            ' +
            '                <div class="modal-header">                                                                         ' +
            '                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>         ' +
            '                    <h4 class="modal-title">' + titulo + '</h4>                                                    ' +
            '                </div>                                                                                             ' +
            '                <div class="modal-body">                                                                           ' +
            '                    <p>' + texto + '</p>                                                                           ' +
            '                </div>                                                                                             ' +
            '                <div class="modal-footer">                                                                         ' +
            '                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>             ' +
            '                                                                                                                   ' +
            '                </div>                                                                                             ' +
            '            </div><!-- /.modal-content -->                                                                         ' +
            '  </div><!-- /.modal-dialog -->                                                                                    ' +
            '</div> <!-- /.modal -->                                                                                        ';

        $('body').append(texto);
        $('#' + random).modal('show');
    }
    if (statusCliente != "") {
        setTimeout(function () { alert(statusCliente); }, 500);
    }
    
    
</script>

<form id="formCadastro" method="post" action="@Url.Action("Incluir", "Cliente")">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.011.111-00" maxlength="14" onKeyDown="formatarCampo(this);" onKeyPress="return onlynumber();" onKeyUp="formatarCampo(this);">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button type="button" data-toggle="modal" data-target="#beneficiariosModal" onclick="carregarBenef('dtBenef',@ViewBag.IdCliente)" class="btn btn-default">Beneficiários</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button id="btnSubmit" type="submit" class="btn btn-sm btn-success" style="display:none">Salvar</button>
                <a class="btn btn-sm btn-success" onclick="chamadaAjax();">Salvar</a>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>

    <div id="beneficiariosModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title">Beneficiários</h4>
                </div>
                <div id="beneficiariosModalBody" class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="CPF">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPFBenef" name="CPF" placeholder="Ex.: 010.011.111-00" maxlength="14" onKeyDown="formatarCampo(this);" onKeyPress="return onlynumber();" onKeyUp="formatarCampo(this);">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="NomeBenef" name="Nome" placeholder="Ex.: João da Silva" maxlength="50">
                            </div>
                        </div>
                        <div class="col-lg-2" align="center">
                            <button id="btnIncluirBenef" type="button" class="btn btn-success" onclick="Incluir_Beneficiario(0);" style="margin-top:25px">Incluir</button>
                        </div>
                    </div>
                    <table id="dtBenef" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>CPF</th>
                                <th>NOME</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyBenef"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" class="form-control" id="Beneficiario" name="Beneficiario" style="display:none">


</form>
